<!-- Navbar-->
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm">

    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="../assets/img/logo.png" width="25" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="font-weight-bold">SecuriTree</span>
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/tree" class="nav-link" routerLink="tree">Tree </a>
      </li>
      <li class="nav-item" *ngIf="showDoorBoard">
        <a href="/doors" class="nav-link" routerLink="doors">Manage Doors</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login"><button mat-raised-button color="accent">Log
            in</button></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link"><button mat-stroked-button disabled>{{ username }}</button></a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()"><button mat-raised-button color="warn">Log out</button></a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>